# 01. intro

## 단축키

- ctrl + enter : 지금 셀 실행
- shift + enter : 지금 셀 실행 & 아래로 이동
- alt + enter : 지금 셀 실행 & 아래에 새로운 셀 추가

- ## 주의사항(대소문사, 띄어쓰기, 스펠링)

- 1. Apple / apple
  2. git add . / git add.
  3. message / massage

In [7]:
# 주석을 나타냅니다.

# 1. 변수

변수이름 = 값

- 변수이름은 어떤 이름이든 상관 없음
- 다만 영어, 숫자, _ 를 이용하여 선언
- 키워드는 사용불가

In [8]:
a = 10

In [10]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### 1.1 number

In [11]:
a = 1000000

In [21]:
a

1000000

In [16]:
type(a)

int

In [17]:
b = 1.1

In [19]:
b

1.1

In [20]:
type(b)

float

In [22]:
c = 1 - 4j

In [23]:
c

(1-4j)

In [24]:
type(c)

complex

In [26]:
c.imag

-4.0

In [27]:
c.real

1.0

### 1.2 Boolean

True, Flase로 이루어진 타입

In [29]:
a = True

In [30]:
type(a)

bool

In [31]:
b = False

In [32]:
type(b)

bool

In [33]:
bool(0)

False

In [34]:
bool(1)

True

In [35]:
bool([])

False

In [36]:
bool([1])

True

### 1.3 None

In [37]:
a = None

In [38]:
type(a)

NoneType

### 1.4 String

- 문자열은 `'` , `"` 를 이용하여 표현

In [39]:
a = 'hello'

In [40]:
type(a)

str

In [43]:
age = input()
print(age)
print(type(age))

 123

123
<class 'str'>

- input으로 받는 것들은 모두 문자로 저장

In [45]:
print('안녕하세요? '오창희'입니다.')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (950898810.py, line 1)

In [46]:
print('안녕하세요? "오창희"입니다.')

안녕하세요? "오창희"입니다.

In [47]:
print('안녕하세요? \'오창희\'입니다.')

안녕하세요? '오창희'입니다.

In [51]:
a = '''
여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성할 수 있습니다.
'''

In [52]:
print(a)

여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성할 수 있습니다.

In [53]:
print('엔터를 입력해봐요 \n다음줄입니다. \t들여쓰기도 가능합니다')

엔터를 입력해봐요
다음줄입니다. 	들여쓰기도 가능합니다

In [55]:
print('하나', '둘', '셋' , end='!')

하나 둘 셋!

- end = 마지막에 느낌표를 붙여줘라

In [56]:
print('하나', '둘', '셋' , sep='!')

하나!둘!셋

 - sep = sep되는 부분에 해당 문자열을 넣어줘라

#### string interpolation

1. %-formatting
2. str.format()
3. f-string

In [57]:
age = 20

In [58]:
print('홍길동은 %s 살입니다.' % age)

홍길동은 20 살입니다.

In [59]:
print('홍길동은 {}살입니다.' .format(age))

홍길동은 20살입니다.

In [60]:
print(f'홍길동은 {age}살입니다.')

홍길동은 20살입니다.

- 3번 방법(f-string)을 제일 많이 이용

## 2. 연산자

### 2.1 산술연산자

In [69]:
a = 2
b = 3

In [70]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

5
-1
6
0.6666666666666666
8

In [72]:
# a를 b로 나눈 몫
print(a // b)
# a를 b로 나누고 나머지 출력
print(a % b)
# a를 b로 나눈 몫, 나머지 출력
print(divmod(a, b))

0
2
(0, 2)

### 2. 2 비교연산자

In [73]:
a = 5
b = 10

In [74]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [76]:
print(a == b)
print(a != b)

False
True

In [77]:
print('hi' == 'hi')
print('HI' == 'hi')

True
False

### 2. 3 논리연산자

- and : 양쪽 모두 True일 때, True를 반환
- -or : 양쪽 모두 False일 때, False를 반환
- not : 값을 반대로 전환

In [79]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [80]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [81]:
print(True)
print(not True)

True
False

In [82]:
# 단축평가(and)
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [83]:
# 단축평가(or)
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

### 2. 3 복합연산자

In [97]:
a = 1
b = 2

In [85]:
a = a + b
a = a - b
a = a / b
a = a // b
a = a % b
a = a ** b

In [100]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

### 2.4 기타연산자

In [101]:
a = 'hi'
b = 'hello'

In [94]:
# concatenation(str)
a + b

'hihello'

In [102]:
# concatenation(list)
a = [1, 2, 3]
b = [4, 5, 6]

In [103]:
a + b

[1, 2, 3, 4, 5, 6]

In [105]:
# concatenation(in)
print('a' in 'apple')
print('z' in 'apple')

True
False

In [107]:
# concatenation(in)
print(1 in [1, 2, 3])
print(10 in [1, 2, 3])

True
False

In [110]:
# identity(is)
a = 1
b = 1
print(a is b)
print(id(a))
print(id(b))

True
140729580380968
140729580380968

In [111]:
a = 123123
b = 123123
print(a is b)
print(id(a))
print(id(b))

False
2032137697776
2032137697264

### 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, in, is
5. not
6. and
7. or

In [114]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

# 3. 형변환
### 3.1 암시적 형변환

In [118]:
a = True
b = False
c = 1

In [119]:
print(a + c)
print(b + c)

2
1

In [122]:
int_num = 3
float_num = 3.3
complex_num = 1 + 3j

In [124]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(4+3j)

### 3.2 명시적 형변환

- int() : string, float를 int로 변환
- float() : string, int를 float로 변환
- str() : int, float 등을 string으로 변환
- bool() : int, list 등을 boolean으로 변환

In [125]:
a = 1
b = '번'

In [126]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [127]:
print(str(a) + b)

1번

In [128]:
a = '3'

In [130]:
type(int(a))

int

In [131]:
a = '3.3'

In [132]:
type(int(a))

ValueError: invalid literal for int() with base 10: '3.3'

In [133]:
type(float(a))

float

In [134]:
a = 1
b = 0

In [135]:
bool(a)

True

In [136]:
bool(b)

False

In [139]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스(sequence) 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열되었다는 것은 정렬된 것과 다르다.)

1. 리스트
2. 튜플
3. 레인지
4. 문자열

### 4.1 List (배열)

- 선언 : 변수이름 = [value, value2, value3 ...]
- 접근 : 변수이름[index]

In [140]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [146]:
location = ['서울', '대구', '대전']
print(location)
print(location[1])
location[1] = '부산'
print(location)

['서울', '대구', '대전']
대구
['서울', '부산', '대전']

### 4.2 Tuple

- 선언 : 변수이름 = (value1, value2, value3...)
- 접근 : 변수이름[index]
- 리스트와 유사하지만 수정이 불가능(immutable)하다.

In [147]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [148]:
t[2] = 5

TypeError: 'tuple' object does not support item assignment

In [151]:
x, y = 1, 2
print(x, y)

x, y = y, x
print(x, y)

1 2
2 1

### 4.3 range

- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m ,s) : n부터 m-1까지 +s만큼 증가하는 범위

In [152]:
a = range(1)
print(type(a))

<class 'range'>

In [154]:
a = range(10)
print(a)
print(list(a))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [155]:
a = range(5, 15)
print(list(a))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [157]:
a = range(1, 10, 2)
print(list(a))

[1, 3, 5, 7, 9]

In [158]:
a = range(-1, -10, -1)
print(list(a))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

### 4.4 String
기본 데이터 구조 참고

### 4.5 시퀀스에서 활용 가능한 연산/함수

In [166]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(1, 100)
my_string = '12345'

In [164]:
# indexing
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
2
2
2

In [162]:
# slicing
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(2, 3)
range(2, 4)
23

In [167]:
# slicing(k간격으로)
list(my_range[2:6:2])

[3, 5]

In [168]:
# in
print(1 in my_list)
print(1 in my_tuple)
print(1 in my_range)
print('1' in my_string)

True
True
True
True

In [169]:
print(1 not in my_list)
print(1 not in my_tuple)
print(1 not in my_range)
print('1' not in my_string)

False
False
False
False

In [173]:
# concatenation
print(my_list + [1, 2, 3])

[1, 2, 3, 4, 5, 1, 2, 3]

In [174]:
# *
print([0] * 10)
print([[0] * 10] * 10)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [175]:
print(len(my_list))

5

In [176]:
print(min(my_list))

1

In [177]:
print(max(my_list))

5

In [178]:
my_list.count(1)

1

## 5. 시퀀스데이터가 아닌 자료구조

### 5.1 Set

수학에서 사용하는 집합과 동일하게 처리 (중복된 값이 없음)

- 선언 : 변수이름 = {value1, value2, value3...}

In [179]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {3, 4, 5, 6, 7}

In [184]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a & my_set_b)

{1, 2}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [186]:
my_list = [1, 1, 1, 1, 1, 1, 2, 3, 4, 5, 6, 7]
print(set(my_list))
print(list(set(my_list)))

{1, 2, 3, 4, 5, 6, 7}
[1, 2, 3, 4, 5, 6, 7]

### 5.2 Dictionary
- 선언 : 변수이름 = {key1: value1, key2: value2, ...}
- 접근 : 변수이름[key]

- -dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든 것을 사용 가능 (불변값: string, integer...)
- value에는 모든 데이터 가능(list, dictionary도 가능)

In [188]:
my_dict = {'서울': '02', '경기': '031'}
my_dict['서울']

'02'

In [191]:
dict_a = {
    'name' : 'changhee',
    'location' : 'seoul',
    'location' : 'seoul2',
}

In [192]:
print(dict_a)

{'name': 'changhee', 'location': 'seoul2'}

In [193]:
dict_a.keys()

dict_keys(['name', 'location'])

In [194]:
dict_a.values()

dict_values(['changhee', 'seoul2'])

# 데이터 타입

1. Number
2. Boolean
3. String

# 자료구조

- 시퀀스 자료형
1. [List] : mutable *
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable *

- 시퀀스가 아닌 자료형
1. {Set} : mutable
2. {Dict: ionary} : mutable *