# 함수(function)

In [3]:
height = 10
width = 20

height2 = 50
width2 = 80

# 직사각형의 둘레는 ***, 면적은 *** 입니다.

area = height * width
perimeter = (height + width) * 2
print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')

area = height2 * width2
perimeter = (height2 + width2) * 2
print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')

직사각형의 둘레는 60, 면적은 200입니다.
직사각형의 둘레는 260, 면적은 4000입니다.

## 함수의 선언과 호출

- 함수의 선언
```python
def func_name(parameter1, parameter2...):
    code1
    code2
    ...
    return value
```

- 함수의 호출(실행)
```
func_name(parameter1, parameter2...)
```

In [4]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2
    print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')

In [5]:
rectangle(10, 20)

직사각형의 둘레는 60, 면적은 200입니다.

In [6]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [7]:
max(1, 5)

5

In [19]:
def my_max(n1, n2):
    print(max(n1, n2))

In [20]:
my_max(2, 24)

24

In [3]:
# 강사 작성

# 두 개의 정수를 받아서 큰 수를 출력
def my_max(n1, n2):
    if n1 > n2:
        # 1이 더 큰 경우
        print(f'{n1}이 더 큽니다.')
    elif n1 < n2:
        # 2가 더 큰 경우
        print(f'{n2}이 더 큽니다.')
    else:
        print('두 수가 같습니다.')

    # return None이라고 생각하면 됨

In [7]:
result = my_max(24, 6234)
print(result)

6234이 더 큽니다.
None

## 함수의 return

- 함수가 return을 만나면 해당 값을 반환하고 함수를 종료
- 만약 return이 없다면 None을 반환
- return은 오직 하나의 객체만 반환합니다.

In [38]:
# 강사 작성

# 두 개의 정수를 받아서 큰 수를 반환
def my_max2(n1, n2):


    #return 'hello'
    
    if n1 > n2:
        # 1이 더 큰 경우
        return n1
    elif n1 < n2:
        # 2가 더 큰 경우
        return n2
    else:
        return 0

In [39]:
result = my_max2(1, 2)
#print(result)
print(f'{result}가 더 큽니다.')

2가 더 큽니다.

In [47]:
def my_list_max(list_a, list_b):
    if sum(list_a) > sum(list_b):
        return list_a#, 123
    else:
        return list_b#, 123

In [48]:
my_list_max([10, 11], [11, 12])

[11, 12]

In [50]:
print(my_list_max)

<function my_list_max at 0x00000167BB8D0AE0>

## 23-07-28

# 함수의 인수

### 위치 인수
기본적으로 함수는 인수의 위치로 판단합니다.

In [12]:
def cylinder(r, h):
    return 3.14 * r**2 * h

print(cylinder(10, 5))
print(cylinder(5, 10))

1570.0
785.0

### 기본값

```python
def func(p1=v1):    
    return v1
```

In [11]:
def greeting(name='익명'):
    return f'{name}님 반갑습니다.'

print(greeting('창희'))
print(greeting())

창희님 반갑습니다.
익명님 반갑습니다.

In [10]:
def greeting(name='익명', age):
    return f'{name}님은 {age}입니다.'

SyntaxError: non-default argument follows default argument (1311874455.py, line 1)

In [17]:
def greeting(age, name='익명'):
    return f'{name}님은 {age}살입니다.'

print(greeting(10, '홍길동'))
print(greeting(20))

# 함수 내에서 기본값 인자는 마지막에, 앞에 생성하면 위치를 인식 못함

홍길동님은 10살입니다.
익명님은 20살입니다.

### 키워드 인자
함수를 호출(실행)할 때 내가 원하는 위치에 직접적으로 특정인자를 전달가능

In [22]:
def greeting(age, name='익명'):
    return f'{name}님은 {age}살입니다.'

print(greeting(10, '홍길동'))
print(greeting(name='홍길동', age=10))

# 기본 인자가 입력되어 있다면 , 직접적으로 키워드를 정의해서 넣어주면 출력 가능

홍길동님은 10살입니다.
홍길동님은 10살입니다.

In [24]:
print('안녕')
print('안녕', '하세요')
print('안녕', '하세요', 'hi', 'hello', sep='!', end='?')

안녕
안녕 하세요
안녕!하세요!hi!hello?

### 가변 인자 리스트

```python
def func(*params):
    pass
```

In [25]:
def my_print(*words):
    print(words)
    print(type(words))

my_print('hi', 'hello')

('hi', 'hello')
<class 'tuple'>

In [43]:
#문 여러가지 입력값을 받아 가장 큰 숫자를 출력해주는 my_max함수를 만들어라  /// fail
def my_max(*number):
    max(number)
    return f'최대값은 {my_max}입니다.'

In [44]:
my_max(1, 2, 3, 4, 5)

'최대값은 <function my_max at 0x000002079FA4D3A0>입니다.'

In [34]:
max(1,2,3,4,5)

5

In [23]:
#강사 입력
#양수만 가능
# def my_max(*numbers):
#     result = 0

#     for number in numbers:
#         if result < number:
#             result = number

#     return result

#음수까지 인식하기 위해
def my_max(*numbers):
    result = numbers[0]

    for number in numbers:
        if result < number:
            result = number

    return result

In [24]:
print(my_max(1, 2, 3, 2, 9, 4)) 
print(my_max(-1, -2, -3, -4))

9
-1

### 정의되지 않은 키워드 인자 처리하기

```python
def func(**kwargs):
    pass
```

In [52]:
info = {
    'name' : 'hong',
    'age' : 20,
}

print(info)

{'name': 'hong', 'age': 20}

In [54]:
info = dict(name='hong', age=20)
print(info)

{'name': 'hong', 'age': 20}

In [56]:
def fake_dict(**kwargs):
    # print(kwargs)
    # print(type(kwargs))
    for key, value in kwargs.items():
        print(f'{key}는 {value}입니다.')
    

fake_dict(korean='안녕', english='hello')

korean는 안녕입니다.
english는 hello입니다.

### 딕셔너리를 인자로 넣기(unpacking)

In [59]:
def sign_up(username, password, password_confirmation):
    if password == password_confirmation:
        print(f'{username}님 회원가입이 완료되었습니다.')
    else:
        print('비밀번호가 일치하지 않습니다.')

sign_up('ochange', 'qwer1234', 'qwer1234')
sign_up('ochange', 'qwer1234', 'qwer12345')

ochange님 회원가입이 완료되었습니다.
비밀번호가 일치하지 않습니다.

In [60]:
my_account = {
    'username' : 'asdf1234',
    'password' : '1q2w3e4r',
    'password_confirmation' : '1q2w3e4r',
}

sign_up(**my_account)

asdf1234님 회원가입이 완료되었습니다.

### lambda 표현식

```python
lambda parameter : expression
```

In [61]:
(lambda a, b: a + b)(1, 2)

3

In [63]:
def my_sum(a, b):
    return a + b

my_sum(1, 2)
my_sum('1' + 2)

TypeError: can only concatenate str (not "int") to str

### 타입 힌트

In [68]:
def my_sum(num1: int, num2: int) -> int:
    '''
    두 수의 합을 구하는 함수입니다.
    매개변수 num1, num2를 받아서 num1 + num2를 리턴합니다.
    '''
    return num1 + num2

my_sum(1, 2)
my_sum('1', 2)

TypeError: can only concatenate str (not "int") to str

### 이름공간 (scope)
파이썬에서 사용되는 이름들은 이름공간(namespace)에 저장되어 있습니다.

- Local scope : 정의된 함수 내부
- Enclosed scope : 상위 함수
- Global scope : 함수 바깥에 변수 혹은 import된 모듈
- Built-in scope : 파이썬이 기본적으로 가지고 있는 함수 혹은 변수

In [69]:
str = '123'

In [70]:
print(str)

123

In [71]:
str(789)

TypeError: 'str' object is not callable

In [72]:
del str

In [73]:
a = 1
def localscope(a):
    # a =5
    print(a)

localscope(5)

5

In [79]:
num = 10
def scope():
    global num  # 여기에 샾 넣고, print(num)다시 확인해보기
    num = 20
    print(num)

scope()
print(num)

20
20

## 재귀 (recursive)
재귀함수는 함수 내부에서 자기 자신을 호출하느 함수를 의미한다.

In [4]:
# 문 : 팩토리얼
fa = []

def fact(n):
    for i in n:
        return n  * fa

fact(5)

TypeError: 'int' object is not iterable

In [5]:
# 강사 입력

def fact(n):
    result = 1

    while n > 1:
        result = result * n
        # result *= n
        n = n - 1
        # n -= 1

    return result

fact(5)

120

1! = 1
2! = 1 * 2 = 1! * 2
3! = 1 * 2 * 3 = 2! * 3

fact(5)
fact(  fact(4) * 5  )
fact( fact(3) * 4 * 5  )...

In [7]:

def factorial(n):
    if n <= 1:
        return 1
    else:
        return factorial(n-1) * n
        # 10! = 9! * 10 =... = 1! = 1

factorial(5)

120

In [8]:
def test_error(n):
    return test_error(n)
test_error(1)

RecursionError: maximum recursion depth exceeded

### 피보나치 수열

```
F(0) = F(1) = 1
F(n) = F(n-1) + F(n-2) ...
```

In [20]:
# 문 : 반복문으로 피보나치
def fib_loop(n):
    if n <= 1:
        return 1
    else:
        return fib_loop(n-1) + n

fib_loop(4)

3

In [16]:
# 문 : 재귀문으로 피보나치
def fib_rec(n):
    result = 1

    while n > 1:
        result = result + n
        # result *= n
        n = n - 1
        # n -= 1

    return result

fib_rec(3)

6

In [37]:
#강사 입력(반복문)
def fib_loop(n):
    result = [1, 1]

    for i in range(1, n):
        end1 = result[-1]
        # end2 = result[-2]
        end2 = result[len(result)-2]
        fib_num = end1 + end2

        result.append(fib_num)

    #return result
    return result[-1]
fib_loop(10)

89

In [36]:
#강사 입력(재귀)
def fib_rec(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib_rec(n-1) + fib_rec(n-2)

fib_rec(10)

89

In [27]:
a = [1, 2, 3, 4, 5]
a[-1]

5